.desc {
    height: 109%;
    top: -9%;
    position: absolute;
    z-index: 3;
    right: 0;
    overflow: hidden;
    background-color: white;
    transition: 0.5s;
}

.opens {
    width: 43%;
}

.closed {
    width: 0%;
}


.descript {
    padding: 20px;
    padding-right: 20%;
    color: #828282;
    font-size: 14px;
    line-height: 1.5;
    margin: 100px auto 30px;
    margin-top: -10%;

}

.bold {
    color: #000;
    padding: 20px;
    margin-bottom: 0px;
    font-weight: bold;

}

.btn-default {
    flex: 1;
    transition: 0.4s;
    color: #fff;
    background-color: #595959;
    text-transform: uppercase;
    height: 10%;
    width: 40%;
    margin-left: 6%;
    margin-right: auto;
    text-align: center;
    padding: 2%;
}

.cart_button {
    margin-top: 20%;
    margin-bottom: 10%;
}

.price_font {
    font-family: 'Tangerine', cursive;
    font-size: 55px;
    margin-left: 6%;
    margin-bottom: 10%;
}

.model {
    font-family: "Abril Fatface";
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
}

.title {
    font-family: "Abril Fatface";
    font-size: 100px;
}