.desc {
    height: 109%;
    top: -9%;
    position:absolute;
    z-index:3;
    right:0;
    overflow: hidden;
    background-color: white;
    transition: 0.5s;
}

.opens {
    width: 43%;
}

.closed {
    width: 0%;
}