header {
  position: fixed;
  min-height: 60px;
  height: 8vh;
  top: 0;
  z-index: 20;
  background-color: #181818; }

.h-1 {
  height: 1% !important; }

.h-2 {
  height: 2% !important; }

.h-3 {
  height: 3% !important; }

.h-4 {
  height: 4% !important; }

.h-5 {
  height: 5% !important; }

.h-6 {
  height: 6% !important; }

.h-7 {
  height: 7% !important; }

.h-8 {
  height: 8% !important; }

.h-9 {
  height: 9% !important; }

.h-10 {
  height: 10% !important; }

.h-11 {
  height: 11% !important; }

.h-12 {
  height: 12% !important; }

.h-13 {
  height: 13% !important; }

.h-14 {
  height: 14% !important; }

.h-15 {
  height: 15% !important; }

.h-16 {
  height: 16% !important; }

.h-17 {
  height: 17% !important; }

.h-18 {
  height: 18% !important; }

.h-19 {
  height: 19% !important; }

.h-20 {
  height: 20% !important; }

.h-21 {
  height: 21% !important; }

.h-22 {
  height: 22% !important; }

.h-23 {
  height: 23% !important; }

.h-24 {
  height: 24% !important; }

.h-25 {
  height: 25% !important; }

.h-26 {
  height: 26% !important; }

.h-27 {
  height: 27% !important; }

.h-28 {
  height: 28% !important; }

.h-29 {
  height: 29% !important; }

.h-30 {
  height: 30% !important; }

.h-31 {
  height: 31% !important; }

.h-32 {
  height: 32% !important; }

.h-33 {
  height: 33% !important; }

.h-34 {
  height: 34% !important; }

.h-35 {
  height: 35% !important; }

.h-36 {
  height: 36% !important; }

.h-37 {
  height: 37% !important; }

.h-38 {
  height: 38% !important; }

.h-39 {
  height: 39% !important; }

.h-40 {
  height: 40% !important; }

.h-41 {
  height: 41% !important; }

.h-42 {
  height: 42% !important; }

.h-43 {
  height: 43% !important; }

.h-44 {
  height: 44% !important; }

.h-45 {
  height: 45% !important; }

.h-46 {
  height: 46% !important; }

.h-47 {
  height: 47% !important; }

.h-48 {
  height: 48% !important; }

.h-49 {
  height: 49% !important; }

.h-50 {
  height: 50% !important; }

#ctn-header {
  background-color: white;
  background-color: #181818; }

#button-menu {
  background-color: transparent;
  border: none; }

#icone-menu {
  height: 30px;
  width: 35px;
  min-width: 30px; }

#ctn-icon-menu {
  width: 300px; }

#ctn-logo {
  height: 200%; }
  #ctn-logo img {
    height: 90%; }

ul {
  list-style: none;
  width: 300px; }

li {
  display: flex;
  width: 60%; }
  li button {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none; }
  li img {
    margin: auto;
    min-width: 30px;
    height: 30px;
    width: 30px; }

#ctn-search-barre {
  height: 100%;
  position: absolute;
  top: -10%;
  z-index: -99; }
  #ctn-search-barre select {
    height: 60%;
    background-color: white; }

.open {
  opacity: 0; }

.display-search-enter {
  opacity: 0;
  display: none !important;
  transition: 300ms ease-in; }

.display-search-enter-done {
  opacity: 0;
  display: none !important;
  transition: 300ms ease-in; }

.display-search-enter-active {
  opacity: 0;
  display: none !important;
  transition: 300ms ease-in; }

.display-search-exit {
  opacity: 1;
  transition: 300ms ease-in; }

.display-search-exit-active {
  opacity: 1;
  transition: 300ms ease-in; }

.display-search-exit-done {
  opacity: 1;
  transition: 300ms ease-in;
  top: 10vh !important; }

#search-barre {
  height: 60%;
  width: 40%;
  z-index: 0;
  padding-left: 15px;
  padding-right: 10px; }

.display-user-enter {
  opacity: 0;
  display: none !important;
  transition: 300ms ease-in; }

.display-user-enter-done {
  opacity: 0;
  display: none  !important;
  transition: 300ms ease-in; }

.display-user-enter-active {
  opacity: 0;
  display: none  !important;
  transition: 300ms ease-in; }

.display-user-exit {
  opacity: 1;
  transition: 300ms ease-in; }

.display-user-exit-active {
  opacity: 1;
  transition: 300ms ease-in; }

.display-user-exit-done {
  opacity: 1;
  top: 10vh !important;
  transition: 300ms ease-in; }

#menu-user {
  height: 270px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
  right: 0.5%;
  top: -400%;
  padding: 15px;
  z-index: -99; }

#connect-button {
  border: none;
  height: 50px;
  border-radius: 50px; }

.display-cart-enter {
  opacity: 0;
  display: none  !important;
  transition: 300ms ease-in; }

.display-cart-enter-done {
  opacity: 0;
  display: none  !important;
  transition: 300ms ease-in; }

.display-cart-enter-active {
  opacity: 0;
  display: none !important;
  transition: 300ms ease-in; }

.display-cart-exit {
  opacity: 1;
  transition: 300ms ease-in; }

.display-cart-exit-active {
  opacity: 1;
  transition: 300ms ease-in; }

.display-cart-exit-done {
  opacity: 1;
  top: 10vh !important;
  transition: 300ms ease-in; }

#menu-cart {
  min-height: 400px;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  right: 0.5%;
  top: -300%;
  z-index: -99; }

#input-username, #input-password {
  max-height: 30px; }

.btn-mainly {
  border: 1px solid #ef464b;
  background-color: #ef464b;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  height: 50px;
  width: 200px; }

/*# sourceMappingURL=header.css.map */
