#menu {
  height: 100%;
  width: 100%; }

.MuiDrawer-paper {
  width: 100%; }
  @media (min-width: 1200px) {
    .MuiDrawer-paper {
      width: 19%; } }
  @media (min-width: 768px) and (max-width: 1200px) {
    .MuiDrawer-paper {
      width: 22.5%; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .MuiDrawer-paper {
      width: 40%; } }

#ctn-logo-menu {
    height: 8vh;
    min-height: 60px;
}

.exit-menu {
    left: 0 !important;
    transition: left 500ms ease-in;
}

.menu img {
    width: 20px;
}

.wrapper {
    width: 40%;
    height: 100%;
}
