@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
.slide h1 {
  transition: all 0.3s ease;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0; }

.slide .currImg {
  transition: all 0.3s ease;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0; }

.slide h3 {
  transition: all 0.3s ease;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0; }

.slide button {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0; }

.slide p {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0; }

.slide section * {
  transition: all 0.3s ease; }

.slide section img {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0; }

.slide section span {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0; }

.slide section span strong {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0; }

.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1,
.slide.animateIn.previous .currImg,
.slide.current .currImg,
.slide.animateIn.next .currImg,
.slide.animateIn.previous h3,
.slide.current h3,
.slide.animateIn.next h3,
.slide.animateIn.previous button,
.slide.current button,
.slide.animateIn.next button,
.slide.animateIn.previous p,
.slide.current p,
.slide.animateIn.next p,
.slide.animateIn.previous section *,
.slide.current section *,
.slide.animateIn.next section * {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: .9s;
  transition-delay: .9s;
  opacity: 1; }

.slide.previous button {
  opacity: 1;
  margin-bottom: 70%; }

.slide.current button {
  opacity: 0; }

.slide.animateIn.previous p,
.slide.animateIn.next p {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s; }

.slide.animateIn.previous button,
.slide.animateIn.next button {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s; }

.slide.animateIn.previous section img,
.slide.animateIn.next section img {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s; }

.slide.animateIn.previous section span,
.slide.animateIn.next section span {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s; }

.slide.animateIn.previous section span strong,
.slide.animateIn.next section span strong {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s; }

.slide.animateOut h1 {
  -webkit-transition-delay: .3s;
  transition-delay: .3s; }

.slide.animateOut .currImg {
  -webkit-transition-delay: .3s;
  transition-delay: .3s; }

.slide.animateOut h3 {
  -webkit-transition-delay: .3s;
  transition-delay: .3s; }

.slide.animateOut p {
  -webkit-transition-delay: .2s;
  transition-delay: .2s; }

.slide.animateOut section span {
  -webkit-transition-delay: .1s;
  transition-delay: .1s; }

.slide.animateOut section span strong {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

button {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  background: transparent;
  text-transform: uppercase;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 13px;
  cursor: cursor;
  color: #828282;
  display: flex;
  justify-content: flex-end;
  width: 100%; }
  button img {
    height: 30px;
    margin-left: 10px; }

button:hover {
  color: #FFFFFF;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2)); }

.wrapper {
  max-width: 1335px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto; }

.wrapper a {
  display: inline-block;
  margin: 5px; }

.wrapper a:first-child {
  margin-left: 0; }

.slider-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden; }

.slide {
  height: 100%;
  background-size: cover !important; }

.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0; }

.previousButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url("../../img/icon/icon-next.png") no-repeat center center/16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer; }

.previousButton:hover, .nextButton:hover {
  background: url("http://svgshare.com/i/41_.svg") no-repeat center center/16px; }

.previousButton {
  top: 65vh;
  right: 20%;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px)); }

.nextButton {
  top: 65vh;
  right: 13%; }

.ctn-ctrl {
  min-width: 400px;
  width: 25%;
  position: absolute;
  bottom: 23vh;
  right: 6%; }
  .ctn-ctrl p {
    margin: auto;
    white-space: nowrap;
    color: #b4b4b4;
    font-family: 'Italianno', cursive;
    font-size: 1.8em; }
  .ctn-ctrl .icon-circle {
    height: 70px;
    width: 70px;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    left: 44vw;
    width: 4vw; }

.ctn-price {
  height: 30%;
  width: 24%;
  position: absolute;
  right: 0; }
  .ctn-price p {
    position: relative;
    bottom: -18vh;
    writing-mode: vertical-lr;
    rotate: 90deg;
    color: white; }
  .ctn-price h1 {
    color: white;
    font-size: 290px;
    font-family: 'Tangerine', cursive; }

.slider-content {
  display: flex; }

.slider-content .inner {
  box-sizing: border-box;
  position: absolute;
  max-width: 23%;
  max-height: 80%;
  width: 23%;
  top: 40%;
  left: 23%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.slider-content .inner button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.slide .currImg {
  position: absolute;
  height: 80%;
  margin-left: 50vw;
  margin-top: 5%;
  display: flex;
  left: -10%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .slide .currImg img {
    margin: auto;
    height: 100%; }

.slider-content .inner h1 {
  letter-spacing: 10px;
  font-size: 100px;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
  max-width: 840px;
  color: #FFFFFF;
  line-height: 1; }

.slider-content .inner h3 {
  text-align: right;
  max-width: 840px;
  color: #FFFFFF;
  line-height: 1; }

.slider-content .inner p {
  padding-right: 20%;
  color: #828282;
  font-size: 14px;
  line-height: 1.5;
  margin: 100px auto 30px;
  max-width: 640px; }

.slider-content section {
  position: absolute;
  bottom: 20px;
  left: 20px; }

.slider-content section span {
  color: #FFFFFF; }

.slider-content section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px; }

.slider-content section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle; }

.slider-content section span strong {
  color: #FFFFFF;
  font-size: 14px;
  display: block; }

@media (max-height: 500px) {
  .slider-wrapper, .slide {
    height: calc(100vh - 75px); } }
@media (max-width: 640px) {
  .slider-wrapper, .slide {
    height: calc(80vh - 75px); } }
@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px; }

  .slider-content .inner h3 {
    font-size: 32px; } }
@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px; }

  .slider-content .inner h3 {
    font-size: 32px; } }

/*# sourceMappingURL=slider.css.map */
