.MuiFormControl-marginNormal {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#displaytransport, #displayCodePromo, #displaycommand {
    display: flex;
    flex-direction: column;
} 