#header { 
  height: 8%;
  width: 100%;
  position: relative;
}

.ctn-menu {
  width: 120px;
}

.ctn-acnt {
  width: 120px;
  margin-right: 4%;
}

.icon-menu {
  height: 30px;
  width: 30px;
}

.icon-cart {
  height: 30px;
  width: 30px;
}

.ctn-logo {
   position: relative;
   left: 1%;
}