#header { 
  height: 8%;
  width: 100%;
}

.ctn-menu {
  width: 6%;
}

.ctn-acnt {
  width: 6%;
  margin-right: 4%;
}

.icon-logo {
  height: 30px;
  width: 30px;
}

.icon-cart {
  height: 30px;
  width: 30px;
}