.stn-home {
    height: 100%;
    // padding-left: 6%;
    padding-right: 6%;
    width: 100%;
}

.track {
    display: flex;
}

.brand {
    bottom: 0;
    margin: 0;
    p {
        font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    }
}



.sndName {
    color: white;
    font-size: 20px;
}

// .deco-barre {
//     background-color: white;
//     width: 20px;
// }

.img {
    background-color: red;
    height: 100px;
    width: 100px;
    margin: auto;
}